{% extends "base.html.twig" %}

{% block titre %} Page listant les livres {% endblock %}

{% block contenu %}
    
{% if message|length > 0 %}
    <div class="alert alert-{{message.type}}" role="alert">
        {{message.contenu}}
    </div>
{% endif %}

    <table class="table text-center monTableau" id="tableauLivres">
        <thead>
            <tr class="table-dark">
                <th scope="col">Image</th>
                <th scope="col">Titre</th>
                <th scope="col">Auteur</th>
                <th scope="col">Nombre de pages</th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for livre in livres %}
            <tr>
                <td class="align-middle"><img src="/images/{{livre.image}}" class="img-thumbnail" width="60px" alt=""></td> 
                <td class="align-middle"><a href="/livres/{{ livre._id }}"> {{livre.nom}} </a></td>
                <td class="align-middle"> {{livre.auteur}} </td>
                <td class="align-middle"> {{livre.nombreDePages}} </td>
                <td class="align-middle"><a href="/livres/modification/{{ livre._id }}" class="btn btn-warning m-2">Modifier</a></td>
                <td class="align-middle">
                    <form method="POST" action="/livres/delete/{{ livre._id }}" onsubmit="return confirm('Voulez vous vraiment supprimer le livre {{ livre.nom }} de  {{livre.auteur}} ? ');">
                        <button class="btn btn-danger m-2" type="submit">Supprimer</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button onclick="afficherFormulaire()" class="btn btn-success w-100">Ajouter</button>
    <form id="ajoutFormulaire" class="d-none" method="POST" action="" enctype="multipart/form-data">
        <fieldset>
            <legend>Création d'un livre</legend>
            <div class="mb-3">
                <label for="titre" class="form-label">Titre</label>
                <input type="text" class="form-control" id="titre" name="titre">
            </div>
            <div class="mb-3">
                <label for="auteur" class="form-label">Auteur</label>
                <input type="text" class="form-control" id="auteur" name="auteur">
            </div>
            <div class="mb-3">
                <label for="nombreDePages" class="form-label">Nombre de pages</label>
                <input type="number" class="form-control" id="nombreDePages" name="nombreDePages">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" rows="3" name="description"></textarea>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Image</label>
                <input type="file" class="form-control-file" name="image" id="image">
            </div>
            <button class="btn btn-primary" type="submit">Valider</button>
        </fieldset>
    </form>
    <script src="javascript/ajoutLivre.js"></script>
{% endblock %}