{% extends "base.html.twig" %}

{% block titre %} Page affichant les auteurs {% endblock %}
{% block contenu %} 
    <table class="table text-center monTableau" id="tableauLivres">
        <thead>
            <tr class="table-dark">
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
                <th scope="col">Nombre de livres</th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for auteur in auteurs %}
            <tr>
                <td class="align-middle"><a href="/auteurs/{{auteur._id}}">{{auteur.prenom}}</a></td>
                <td class="align-middle">{{auteur.nom}}</td>
                <td class="align-middle">{{auteur.livres|length}}</td>
                <td class="align-middle"><a href="" class="btn btn-warning m-2">Modifier</a></td>
                <td class="align-middle">
                    <form method="POST" action="" onsubmit= "return confirm('Voulez-vous vraiment supprimer l\'auteur {{ auteur.prenom }} {{auteur.nom}} ?');">
                        <button class="btn btn-danger m-2" type="submit">Supprimer</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
