{% extends "base.html.twig" %}

{% block titre %} Page affichant les auteurs {% endblock %}

{% block contenu %}

{% if message|length > 0 %}
    <div class="alert alert-{{message.type}}" role="alert">
        {{message.contenu}}
    </div>
{% endif %}
    <table class="table text-center monTableau" id="tableauLivres">
        <thead>
            <tr class="table-dark">
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
                <th scope="col">Nombre de livres</th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for auteur in auteurs %}
            <tr>
                <td class="align-middle"><a href="/auteurs/{{auteur._id}}">{{auteur.prenom}}</a></td>
                <td class="align-middle">{{auteur.nom}}</td>
                <td class="align-middle">{{auteur.livres|length}}</td>
                <td class="align-middle"><a href="" class="btn btn-warning m-2">Modifier</a></td>
                <td class="align-middle">
                    <form method="POST" action="auteurs/delete/{{auteur._id}}" onsubmit= "return confirm('Voulez-vous vraiment supprimer l\'auteur {{ auteur.prenom }} {{auteur.nom}} ?');">
                        <button class="btn btn-danger m-2" type="submit">Supprimer</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button onclick="afficherFormulaire()" class="btn btn-success w-100">Ajouter</button>
    <form id="ajoutFormulaire" class="d-none" method="POST" action="">
        <fieldset>
            <legend>Création d'un auteur</legend>
            <div class="mb-3">
                <label for="prenom" class="form-label">Prénom</label>
                <input type="text" class="form-control" id="prenom" name="prenom">
            </div>
            <div class="mb-3">
                <label for="nom" class="form-label">Nom</label>
                <input type="text" class="form-control" id="nom" name="nom">
            </div>
            <div class="mb-3">
                <label for="age" class="form-label">Age</label>
                <input type="number" class="form-control" id="age" name="age">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="sexe" name="sexe">
                <label class="form-check-label" for="sexe">Homme</label>
            </div>
            <button class="btn btn-primary" type="submit">Valider</button>
        </fieldset>
    </form>
    <script src="javascript/ajoutAuteur.js"></script>
{% endblock %}
